{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% block content %}
{% if 'username' not in session %}
    <div class="wrapper">
        <div class="content">
            <div id="login" class="container container--login">
                <h3>登錄</h3>
                <div id="signInButton">
                    <span class="g-signin"
                        data-scope="openid email"
                        data-clientid="376642414498-h8hu1ecssn07k0p773ncb21d5t5vdep7.apps.googleusercontent.com"
                        data-redirecturi="postmessage"
                        data-accesstype="offline"
                        data-cookiepolicy="single_host_origin"
                        data-callback="signInCallback"
                        data-approvalprompt="force">
                    </span>
                </div>
                <div class="login__separator">或者</div>
                <fb:login-button size="large" scope="public_profile,email" onlogin="sendTokenToServer();">
                    <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
                </fb:login-button>

            </div>
        </div>
    </div>
{% else %}
{% endif %}
{% endblock %}